<div class="container-fluid">
  <!--header-->
  <div class="card mt-3 border-0 shadow text-center bg-dark">
    <img class="m-2 align-self-center text-center" src="../assets/logo.png"
      width="80" height="80">
    <h2 class="text-white">{{tituloColegio}}</h2>
    <span class="align-self-center m-2 w-50 badge badge-pill badge-info">{{etiquetaListado}}</span>
  </div>
  
  <div class="card border-0 mt-3 shadow-sm">
    <div class="card-header bg-dark text-white">
      {{etiquetaSeleccionar}}
    </div>
    <div class="card-body">

      <div class="form-group">
        <select class="form-control" [(ngModel)]="seleccionado" (change)="seleccionarProfesor()">
          <option></option>
          <option [ngValue]="profesor" *ngFor="let profesor of profesores">{{profesor.nombre}}</option>
        </select>
      </div>
    </div>
  </div>
  <app-dashboard></app-dashboard>
</div>